# Homework #5 - MatPlot and NumPy



#Part 1 Mat Plot Lib

Using Matplotlib create the following graphs

In [ ]:
# Inports Here

In [ ]:
# Histogram

In [ ]:
# Line Plot

In [ ]:
# Scatter Plot

In [2]:
# Pie Plot

In [ ]:
# Area Plot

In [ ]:
# 3d Plot - Bar Plot

# Part 2 - Num Py
Like a dictionary, we can create a structured array in Numpy

```python
data = np.array([
    ("Billy", 32, 6),
    ("Bob", 15, 20),
    ("Jo", 80, 100),
    ("Goku", 38, 9001),],
    dtype=[("name", str, 10), 
           ("age", int), 
           ("power", int)])
```

Using the following file https://www.kaggle.com/datasets/gregorut/videogamesales

Create and sort the data by Name, Year, and NA_Sales

Do not use pandas

You can use this to help start you on your way
https://stackoverflow.com/questions/57785790/construct-structured-numpy-array-from-a-file

In [ ]:
import numpy as np

# csv file path
file_path = "vgsales-2.csv"

# loadtxt() loads the csv file as string
year_sorted_data = np.loadtxt(file_path, delimiter=",", dtype=str, usecols = (0, 1, 4), skiprows=1, encoding='utf-8')

# Show the data sorted by year
print(year_sorted_data)

[['Alter Ego' '1985' '0']
 ['SimCity' '1988' '0']
 ['Doom' '1992' '0.02']
 ...
 ['Call of Duty: Infinite Warfare' '2016' '1.46']
 ['Call of Duty: Infinite Warfare' '2016' '1.61']
 ["Uncharted 4: A Thief's End" '2016' '1.85']]

ValueError: could not convert string to float: np.str_('Sony Computer Entertainment')